@font-face {
    font-family: 'cartoonregular';
    src: url('../Font/cartoon.woff2') format('woff2'),
         url('../Font/cartoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#quiz-container {
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#quiz-container::-webkit-scrollbar {
    width: 10px;
}

#quiz-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#quiz-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.slideSpeed {
    transition-duration: 1s;
    padding: 20px 0;
}

.reponse {
    text-align: center;
    background-color: rgba(237, 197, 127, .5);
    border-radius: 10px; 
    margin: 5px;
    cursor: pointer;
}
